

{{ block "navbar" .}}
{{ end }}


{{ block "sidebar" .}}
{{ end }}

<!--MAIN-->
<div class="main-dashboard" id="main-dashboard">
  <h1>{{._classroom_str}} </h1>
  {{if not .student_bool}}
  <button class="btn bsb-btn-xl btn-primary" data-bs-toggle="modal" data-bs-target="#newClassroomModal">{{._new_entry_btn}}   <i class="fas fa-file-alt">  </i></button>
    <br/><br/>
  {{end}}
  <table id="dataTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>{{._class_name_str}} </th>
        <th>{{._assigned_teacher_str}} </th>
        <th>{{._level_str}} </th>
        <th>{{._room_str}} </th>
        <th>{{._fee_str}} </th>
        {{if not .student_bool}}<th> Classroom </th>{{end}}
      </tr>
    </thead>
    <tbody id="tbodyClassrooms">
    </tbody>
  </table>
</div>
<!--END MAIN-->

<!--Autoload all classrooms-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    loadAllClassrooms();
  });
</script>

<!-- NEW CLASSROOM MODAL (used by the 'New' button above) -->
<div class="modal" tabindex="-1" id="newClassroomModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{._classroom_modal_title}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" name="new_classroom_form">
          <div class="col-md-12">
            <label class="form-label">{{._classroom_name_label}} </label>
            <input type="text" class="form-control" id="classroomName" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._assigned_teacher_label}} </label>
            <input type="text" class="form-control" id="classroomTeacher" placeholder="teacher id or name">
          </div>
           <div class="col-md-6">
            <label class="form-label">{{._level_label}} </label>
            <input type="text" class="form-control" id="classroomLevel" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._fee_label}} </label>
            <input type="text" class="form-control" id="classroomFee" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._room_label}} </label>
            <input type="text" class="form-control" id="classroomRoom">
          </div>
          <div class="col-12">
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal" type="button" onclick="createNewClassroom();">{{._create_new_btn}} </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{._cancel_btn}} </button>
      </div>
    </div>
  </div>
</div>