
{{ block "navbar" .}}
{{ end }}


{{ block "sidebar" .}}
{{ end }}

<!--Autoload all teachers-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("Loading Teachers...");
    loadAllTeachers();
  });
</script>


<!--MAIN-->
<div class="main-dashboard" id="main-dashboard">
  <h1>{{._teachers}} </h1>
  {{if not .student_bool}}
  <button class="btn bsb-btn-xl btn-primary" data-bs-toggle="modal" data-bs-target="#newTeacherModal">{{._new_entry_btn}}   <i class="fas fa-file-alt">  </i></button>
    <br/><br/>
  {{end}}

  <table id="dataTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>{{._first_name}} </th>
        <th>{{._last_name}} </th>
        <th>{{._age}} </th>
        <th>{{._phone}} </th>
      </tr>
    </thead>
    <tbody id="tbodyTeachers">
    </tbody>
  </table>
</div>
<!--END MAIN-->
<!-- NEW TEACHER MODAL (used by the 'New' button above) -->
<div class="modal" tabindex="-1" id="newTeacherModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" name="new_teacher_form">
          <div class="col-md-6">
            <label class="form-label">{{._first_name}} </label>
            <input type="text" class="form-control" id="teacherFirstName" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._last_name}} </label>
            <input type="text" class="form-control" id="teacherLastName" required>
          </div>
          <div class="col-md-12">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" id="teacherEmail" required>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._phone}} </label>
            <input type="text" class="form-control" id="teacherPhone">
          </div>
          <div class="col-md-6">
            <label class="form-label">{{._birthdate}} </label>
            <input type="date" class="form-control" id="teacherBirthdate">
          </div>
          <div class="col-12">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal" type="button" onclick="createNewTeacher();">{{._create_new_btn}}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{._cancel_btn}}</button>
      </div>
    </div>
  </div>
</div>