{{ block "navbar" .}}
{{ end }}

{{ block "sidebar" .}}
{{ end }}


<!--MAIN-->
<div class="main-dashboard" id="main-dashboard">
  <h1>
    Dashboard
  </h1>
  <br />
  <h2>
    Notifications
  </h2>
  <div id="notifications-list">

    <div class="card">
      <h5 class="card-header">{{.created}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{.title}}</h5>
        <p class="card-text">{{.body_text}}</p>
        <a href="#" class="btn btn-primary">Close</a>
      </div>
    </div>

  </div>
</div>

<!--END MAIN-->