<!--SIDEBAR-->
<div class="position-fixed shadow">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary" style="width: 280px;">
    <br />
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" style="margin-bottom: 30rem!important;">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Students
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex pb-4 ps-4 align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Help</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">About</a></li>
        <li><a class="dropdown-item" href="#">Help Documents</a></li>
        <li><a class="dropdown-item" href="#">Contact</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
  </div>
</div>

<!--END SIDEBAR-->

<!--MAIN-->
<div class="main-dashboard">
  <table id="dataTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody id="tbodyStudents" hx-get="http://localhost:8090/_coll/students/records" hx-trigger="load"
      hx-swap="inerHTML" hx-on::after-on-load="new DataTable('#dataTable')">
    </tbody>
  </table>
</div>
<!--END MAIN-->