{{define "sidebar"}}
<!--SIDEBAR-->
<div class="position-fixed shadow" >
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary" style="width: 280px;">
    <br />
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <!-- <span class="fs-4">Sidebar</span> -->
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" style="margin-bottom: 30rem!important;">
      <li class="nav-item">
        <a id="dashboard_a_id" href="#" class="nav-link text-white {{.sb_dashboard}}" onclick="window.localStorage.setItem('nav','dashboard');dashboardNavActive('dashboard')"><!--...active" aria-current="page"-->
          <i class="fas fa-window-restore" style="padding-right: 15px;"></i>
          {{._nav_dashboard}} 
        </a>
      </li>
      <li>
        <a id="students_a_id" href="#" class="nav-link text-white {{.sb_students}}" onclick="window.localStorage.setItem('nav','students');dashboardNavActive('students')">
          <i class="fas fa-book-reader" style="padding-right: 15px;"></i>
          {{._nav_students}} 
        </a>
      </li>
      <li>
        <a id="teachers_a_id" href="#" class="nav-link text-white {{.sb_teachers}}" onclick="window.localStorage.setItem('nav','teachers');dashboardNavActive('teachers')">
          <i class="fas fa-user-graduate" style="padding-right: 15px;"></i>
          {{._nav_teachers}} 
        </a>
      </li>
      <li>
        <a id="classrooms_a_id" href="#" class="nav-link text-white {{.sb_classrooms}}" onclick="window.localStorage.setItem('nav','classrooms');dashboardNavActive('classrooms')">
          <i class="fas fa-graduation-cap" style="padding-right: 15px;"></i>
          {{._nav_classrooms}} 
        </a>
      </li>
      <li>
        <a id="customers_a_id" href="#" class="nav-link text-white {{.sb_profile}}" onclick="window.localStorage.setItem('nav','profile');dashboardNavActive('profile')">
          <i class="fa-solid fa-address-card" style="padding-right: 15px;"></i>
          {{._nav_profile}} 
        </a>
      </li>
      <li>
        <a id="customers_a_id" href="#" class="nav-link text-white {{.sb_customers}}" onclick="window.localStorage.setItem('nav','customers');dashboardNavActive('customers')">
          <i class="fas fa-award" style="padding-right: 15px;"></i>
          {{._nav_customers}} 
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex pb-4 ps-4 align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Help</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">About</a></li>
        <li><a class="dropdown-item" href="#">Help Documents</a></li>
        <li><a class="dropdown-item" href="#">Contact</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
  </div>
</div>
<!--END SIDEBAR-->
{{end}}