{{define "sidebar"}}
<!--SIDEBAR-->
<div class="position-fixed shadow" id="UI_SIDEBAR_HTMX">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary" style="width: 280px;">
    <br />
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" style="margin-bottom: 30rem!important;">
      <li class="nav-item">
        <a href="#" class="nav-link text-white {{.sb_dashboard}}" onclick="window.localStorage.setItem('nav','dashboard');dashboardNavActive('dashboard')"><!--...active" aria-current="page"-->
          <i class="fas fa-window-restore"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white {{.sb_students}}" onclick="window.localStorage.setItem('nav','students');dashboardNavActive('students')">
          <i class="fas fa-book-reader"></i>
          Students
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white {{.sb_teachers}}" onclick="window.localStorage.setItem('nav','teachers');dashboardNavActive('teachers')">
          <i class="fas fa-user-graduate"></i>
          Teachers
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white {{.sb_classrooms}}" onclick="window.localStorage.setItem('nav','classrooms');dashboardNavActive('classrooms')">
          <i class="fas fa-graduation-cap"></i>
          Classrooms
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white {{.sb_customers}}"
          >
          <i class="fas fa-award"></i>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex pb-4 ps-4 align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Help</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">About</a></li>
        <li><a class="dropdown-item" href="#">Help Documents</a></li>
        <li><a class="dropdown-item" href="#">Contact</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
  </div>
</div>
<!--END SIDEBAR-->
{{end}}